<div class="mb-32">
  <mat-form-field>
    <mat-label>Add Todo</mat-label>
    <input matInput
           name="title"
           [formControl]="title"
           (blur)="updateErrorMessage()">
    @if (title.invalid) {
      <mat-error>{{ errorMessage() }}</mat-error>
    }
  </mat-form-field>

  <button mat-button
          (click)="onAdd()">
    <mat-icon>add</mat-icon>
    Add
  </button>
</div>

@if (tableErrorMessage()) {
  <p class="text-warn">
    {{tableErrorMessage()}}
  </p>
}

@if (loading()) {
  <mat-progress-bar mode="indeterminate" value="40"></mat-progress-bar>
}

<div class="mat-elevation-z8 mb-32">
  <table mat-table
         [dataSource]="dataSource">

    <ng-container matColumnDef="title">
      <th *matHeaderCellDef
          mat-header-cell>
        Title
      </th>
      <td *matCellDef="let element"
          mat-cell
          [class]="element.completed ? 'completed' : ''">
        {{ element.title }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef
          mat-header-cell>
        Actions
      </th>
      <td *matCellDef="let element"
          mat-cell>
        <button mat-button
                (click)="onEdit(element)">
          <mat-icon>edit</mat-icon>
          Edit
        </button>
        <button mat-button
                color="warn"
                (click)="onDelete(element)">
          <mat-icon>delete</mat-icon>
          Delete
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns"
        mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;"
        mat-row></tr>
  </table>

  <mat-paginator showFirstLastButtons
                 aria-label="Select page of periodic elements"
                 [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>
</div>
