@use '@angular/material' as mat;

@include mat.core();

$my-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$blue-palette,
  ),
));

html {
  @include mat.core-theme($my-theme);

  @include mat.all-component-themes($my-theme);
  @include mat.color-variants-backwards-compatibility($my-theme);
  @include mat.typography-hierarchy($my-theme);

}

@mixin theme($my-theme) {
  mat-toolbar {
    background: mat.get-theme-color($my-theme, primary-container);
  }
}
